header{
    display: flex;
    flex-direction: row;
    background-color: #936639;
    width: auto;
    height: 5rem;
    gap: 10rem;
}

h1{
    display: flex;
    font-size: 2rem;
    font-weight: bold;

}

.nav-links{
 display: flex;
 margin-top: 0.7rem;
 gap: 5rem;
 font-weight: bold;
}